.footer{
    margin-top: 50px;
    background-color:rgb(38, 37, 38) ;
    padding: 30px 130px;
    color: azure;
}

.content-footer-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content-list3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25%;
}